* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  padding: 30px 10%;
  justify-content: space-between;
  align-items: center;
  &_ul {
    display: flex;
    gap: 30px;
    &_list {
      list-style-type: none;
    }
    &_link {
      text-decoration: none;
      color: #7c87b1;
    }
  }
  &_title {
    &_text {
      color: #37447e;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  &_button {
    &_btn {
      padding: 5px 50px;
      border: none;
      background-color: #111b47;
      color: #fff;
      border-radius: 3px;
    }
  }
}
.main {
  &_section_introduce {
    background-image: url(../assets/background.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    &_info {
      padding: 10% 10%;
      &_title {
        color: #111b47;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        width: 40%;
        margin-bottom: 30px;
      }
      &_text {
        color: #111b47;
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;
        margin-bottom: 30px;
      }
      &_button {
        display: flex;
        gap: 30px;
        &_btn {
          padding: 5px 30px;
          border: none;
          background-color: #111b47;
          color: #fff;
          border-radius: 3px;
        }
        &_right {
          padding: 5px 30px;
          border-style: solid;
          border-color: #111b47;
          color: #111b47;
          border-radius: 3px;
        }
      }
    }
  }
  &_section_light {
    display: flex;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    &_info {
      &_title {
        color: #111b47;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 50px;
      }
      &_text {
        color: #6f7cb2;
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        margin-bottom: 50px;
      }
      &_icons {
        display: flex;
        &_text {
          width: 70%;
          color: #8c8888;
        }
      }
    }
  }
  &_section_description {
    width: 100%;
    padding: 10% 0;
    &_info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 90px;
      margin-bottom: 90px;
      &_article {
        width: 40%;
        &_title {
          color: #111b47;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 40px;
          margin-bottom: 30px;
        }
        &_text {
          color: #6f7cb2;
          line-height: 25px;
          font-family: Arial, Helvetica, sans-serif;
          margin-bottom: 50px;
          width: 70%;
        }
      }
    }
  }
}
